@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
    background: url(../img/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: 61px;
    margin-bottom: 17px;
}

.logo-container {
    display: flex;
    margin: auto 0;
    text-decoration: none;
}

.logo-container:hover img {
    content: url(../img/logo-orange.png);
}

.logo-container:hover .text-logo {
    color: #F26522;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 8px;
    color: #Ffff;
    font-family: 'Roboto';
    font-weight: 700;
    box-sizing: border-box;
}

.logo-text-item1 {
    font-size: 29px;
    line-height: 80%;
}

.logo-text-item2 {
    font-size: 18px;
    line-height: 80%;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.email:hover {
    color: #F26522;
}

.phone-number:hover {
    color: #F26522;
}

.email, .phone-number {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-wraper {
    display: grid;
    grid-template-rows: 261px 261px;
    grid-template-columns: 304px 304px 304px;
    column-gap: 59px;
    row-gap: 37px;
    margin-bottom: 49px;
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"    
}

.main-item:hover .main-text {
    color: #F26522;
    transition: 0.5s;
}

.main-img {
    border-right: 2px solid;
    border-left: 2px solid;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
}

.main-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
}

.main-item:hover .price-hover-text {
    opacity: 1;
    height: 55px;
    transition: height 0.6s ease-in-out;
}

.price-hover-text {
    width: 300px;
    height: 0px;
    position: absolute;
    bottom: 41px;
    background-color: #F26522;
    opacity: 0;
}

.top-text {
    position: relative;
    left: 16px;
    top: 7px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    opacity: 0;
}

.main-item:hover .top-text {
    opacity: 1;
    transition: 0.3s ease-out 0.3s;
}

.bottom-text {
    position: absolute;
    left: 16px;
    top: 29px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0;
}

.main-item:hover .bottom-text {
    opacity: 1;
    transition: 0.3s ease-out 0.4s;
}

.right-text {
    position: absolute;
    left: 180px;
    top: 29px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0;
}

.main-item:hover .right-text {
    opacity: 1;
    transition: 0.3s ease-out 0.4s;
}

.right-text::after {
    content: url(../img/symbol.svg);
    padding-left: 16px;
}

.main-text {
    height: 21px;
    margin-top: 20px;
    width: max-content;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 15px;
}